/* mobile */

.title__container {    
    padding: 1rem;
}

.title__foto{
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px var(--cor-branco);    
    height: 6.125rem; 
    width: 6.125rem;    
}

.title__bio {
    font-size: 1.375rem;
    line-height: 1.6rem;      
    margin-top: 1rem;   
}

.title__bio-font {  
    font-weight: 700;               
    font-size: 2.375rem;
}

.title__subsection{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;  
    margin: 1rem 0;
}

.title__network{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin: 0;
}

.title__network__item{
    display: flex;
    height: 1rem;    
    font-size: 0.875rem;
    font-weight: 600;    
    list-style: none;    
}
  
.title__network__item::after{
    align-items: center;    
}

.title__network__item:hover {
    transform: scale(1.2);
}



/* tablete */
  
@media screen and (min-width:768px) {
  
    .title__container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;  
      padding: 2rem;
    }

    .title__foto{
      height: 9.125rem;
      margin-left: 2rem;    
      width: 9.125rem;        
    } 
    
    .title__bio {
      font-size: 1.375rem;
      font-weight: 700;
      line-height: 1.625rem;
      max-width: 85%;
    }

    .title__bio-font { 
      font-weight: 700;               
      font-size: 2.375rem;
    }

    .title__subsection{
      font-size: 1rem;
      line-height: 1.2rem;    
      margin: 0.5rem 0;    
      max-width: 90%;
    }

    .title__network{        
      justify-content: start;               
    }

    .title__network__item{        
      font-weight: 500;
      font-size: 1rem;
        
    }
    
}

  
/* laptop */
  
@media screen and (min-width:1024px) {
  
    .title__container {      
      margin: auto;  
      max-width: 71rem; 
      padding: 2rem 7rem;    
    }

    .title__foto{
      height: 15rem;
      margin-left: 1rem;    
      width: 15rem;        
    } 
    
    .title__bio {
      font-size: 2rem;
      line-height: 2.3rem;
      margin-top: 3rem;
      max-width: 100%;
    }

    .title__bio-font { 
      font-weight: 700;               
      font-size: 4rem;
    }    

    .title__subsection{
      font-size: 1.2rem;
      line-height: 1.4rem;
      margin: 1rem 0;
      max-width: 100%;
    } 
    
    .title__network__item{        
      font-weight: 500;
      font-size: 1rem;
      margin: 0.625rem;
    }
}

  
/* desktop */
  
@media screen and (min-width:1440px) {
  
    .title__container {      
      padding: 4rem 9.5rem;
      max-width: 80rem;
    }

    .title__foto{        
      height: 23rem;
      width: 23rem;
    }

    .title__bio {
      font-size: 3.25rem;
      line-height: 3.85rem;    
      margin-top: 3.8rem; 
    }

    .title__bio-font { 
      font-weight: 700;               
      font-size: 5rem;
    }

    .title__subsection{
      font-size: 1.375rem;
      line-height: 1.625rem;    
      margin: 1.5rem 0;
    }  
}
